body{
  color:white;
  font-family: 'Catamaran', sans-serif;
  font-size: 40px;

}

a:link {
 color: #E11839;
}
button{
  border:none;
  background-color:white;
  color: black;
  padding: 12px 15px;
  border-radius:3px;

}

a:visited {
 color: #E11839;}
label{ color: black;

font-size: 15px;
padding: 2px 2px;
text-align: left;
 }
input{

}
#menu_bar{
  border-radius:6px;
background-color:#1F1F1F
;
margin-bottom: 10px;
float: left;
width:100%;
height: 35px;
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#gene_container{
  font-size: small;
  overflow-y: auto;
}
#structure_container{

  border-radius:6px;
  padding-left: 5%;
  padding-right: -8%;
  width: 90%;
  text-align: center;
  height: 390px;
  overflow:auto;
}
#BGC_explorer{

  border-radius:6px;
background-color:#1F1F1F
;
margin-bottom: 10px;
float: left;
width:75%;
height: 175px;
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
 #Protein_explorer{
   border-radius:6px;
   margin-bottom: 10px;
background-color:#1F1F1F;
float: left;

box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
height: 200px;
width: 75%;}
.Domain_explorer{
  border-radius:6px;
  margin-bottom: 10px;
background-color:#1F1F1F;
float: left;

box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
height: 680px;
width: 75%;}
.Domain_explorer_while_saving{
  border-radius:6px;
  margin-bottom: 10px;
float: left;

box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
height: 680px;
width: 75%;}
 #Structure_explorer{
   border-radius:6px;
background-color:#1F1F1F;
 float: right;
 height: 550px;

box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
 width: 24.5%;}
 #Gene_explorer{
   margin-bottom: 10px;
   border-radius:6px;
width: 24.5%;
background-color:#1F1F1F;
float: right;
height: 515px;
overflow-x: auto;
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);}
.start_button {
    margin:3px;
  float: right;
  color: #2B2B2B;
  text-align: center;
  padding: 2px 2px;
  text-decoration: none;
  font-size: 17px;
}
#fake_button {

  float: right;
  background-color: #1F1F1F;
  color:white;
  text-align: center;
  padding-right:5px;
  padding-top:1px;
  font-size: 19px;
}
.start_button:hover {
  background-color: #E11839;
  color: black;

}
.save_button {
  margin:3px;
float: right;
color: #2B2B2B;
text-align: center;
padding: 2px 5px;
text-decoration: none;
font-size: 17px;
  margin-bottom: :40px;
    margin-right:20px;
}
.save_button:hover {
  background-color: #E11839;
  color: black;

}
.heading-container{
  background-color:#2B2B2B;
  border-radius:6px;
  padding-left: 5%;
  width: 92%;
}
/* The switch - the box around the slider */
.switch {
 position: relative;
 float: right;
 display: inline-block;
 width: 60px;
 height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
 opacity: 0;
 width: 0;
 height: 0;
}

/* The slider */
.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #ccc;
 -webkit-transition: .4s;
 transition: .4s;
}

.slider:before {
 position: absolute;
 content: "";
 height: 26px;
 width: 26px;
 left: 4px;
 bottom: 4px;
 background-color: white;
 -webkit-transition: .4s;
 transition: .4s;
}

input:checked + .slider {
 background-color: #E11839;
}

input:focus + .slider {
 box-shadow: 0 0 1px #E11839;
}

input:checked + .slider:before {
 -webkit-transform: translateX(26px);
 -ms-transform: translateX(26px);
 transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
 border-radius: 34px;
}

.slider.round:before {
 border-radius: 50%;
}
.save_button a {
  float: right;
  color: #2B2B2B;
  background-color=white;
  text-align: center;
  padding: 2px 2px;

  text-decoration: none;

}
#smiles_container{
  font-size: 12px;
}
.final_drawing{
  max-height: 100%;
  max-width:100%;
}
.intermediate_drawing{
position:relative;

max-width: 100%;
height: auto;

bottom:15px;

left:9%;

}
.outerDomainExplorer{
  border-radius: 10px;
  overflow: auto;
  max-height:550px;
  overflow-x: auto;
  background-color:white;
  max-width: 99%;
  margin-top: 1%;

}
.outerDomainExplorer_while_saving{
  background-color:white;
  overflow: auto;
  height : 1000px;
  display : inline-block;
  overflow-x: auto;
  overflow:visible;

}
 .container {

   padding: 1%;
   width: 99%;
   overflow-x: auto;
   white-space: nowrap;
}
.contentWithPadding{
 margin:10px;
 width:100%;


}
.contentWithPaddingOverflow{

 height: 150%;

}
.protein-container {
 display: grid;
 grid-template-columns: repeat(100, 1fr);
 gap: 12px;
 padding: 0.5%;
 width: 99%;
 overflow-x: auto;
 white-space: nowrap;
 height: 120px;
 font-size: medium;
}


.domain-container {
 display: grid;
 grid-template-columns: repeat(100, 1fr);
 gap: 10px;
 padding: 0px;
 width: 99%;

 white-space: nowrap;
 height: 550px;
 font-size: medium;
}
.module-container {
 display: grid;
 grid-template-columns: repeat(100, 1fr);
 gap:3px;
 padding: 10px;
 width: 97%;

 white-space: nowrap;
 height: 50px;
 font-size: medium;
}
.intermediateContainer{
  position: relative;
  right: 67px;


  height:800px;
}
.box {
 cursor: move;
}
/* Dropdown Button */
.dropbtn {

background-color: transparent;
font-size: 16px;
 text-transform: capitalize
border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
position: relative;
display: inline-block;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
opacity: 0.9;
display: none;
position: absolute;
background-color: white;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
min-width: 150px;
margin-top:-20px;
}
svg text{
  text-anchor: middle;
  dominant-baseline: bottom;
}
/* Links inside the dropdown */
.dropdown-content button {
  min-width: 100px
color: black;
padding: 3px 3px;
text-decoration: none;
display: block;
width:100%;
 text-transform: capitalize;
}
.dropdown-content button:active {

background-color: #E11839;

}
/* Change color of dropdown links on hover */
.dropdown-content button:hover {background-color: #E11839;}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
.default_option_button{
  background-color: grey;
}

/* Everything to do with the wildcard dialog*/
 * {
      box-sizing: border-box;
    }
    .openBtn {
      display: flex;
      justify-content: left;
    }
    .openButton {
      border: none;
      border-radius: 5px;
      background-color: #1c87c9;
      color: white;
      padding: 14px 20px;
      cursor: pointer;
      position: fixed;
    }
    .loginPopup {
      position: relative;
      text-align: center;
      width: 100%;
    }
    .formPopup {
      display: none;
      position: fixed;
      left: 45%;
      top: 5%;
      border: 3px solid #999999;
      z-index: 9;
    }
    .formContainer {
      max-width: 300px;
      padding: 20px;
      background-color: #fff;
    }

    .formContainer .btn {
      padding: 12px 20px;
      border: none;
      background-color: #1F1F1F;
      color: #fff;
      cursor: pointer;
      width: 100%;
      margin-bottom: 15px;
      opacity: 0.8;
    }
    .formContainer .cancel {
      background-color: #E11839;
    }
    .formContainer .btn:hover,
    .openButton:hover {
      opacity: 1;
    }
